.userCard{
    display: flex;
    width: 100% ;
    cursor: pointer;
    gap: 1.2rem;
    padding: 1.3rem;
    align-items: center;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.1);
}

.profilePicture > img {
    width: 6.5rem;
    border-radius: 50%;
}

.myConnections{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-bottom: 1.5rem;
    cursor: pointer;
}

.connectionButton {
    padding-inline: 1rem;
    padding-block: 0.4rem;
    border: 1px solid black;
    outline: none;
    color: blue;
    border-radius: 20px;
    cursor: pointer;
}
